In [4]:
import pandas as pd
import numpy as np

In [5]:
week_1 = pd.read_csv("C:/Users/anime/Downloads/tracking_week_1.csv")

In [6]:
week_1.head()

,gameId,playId,nflId,displayName,frameId,frameType,time,jerseyNumber,club,playDirection,x,y,s,a,dis,o,dir,event
0,2022091200,64,35459.0,Kareem Jackson,1,BEFORE_SNAP,2022-09-13 00:16:03.5,22.0,DEN,right,51.06,28.55,0.72,0.37,0.07,246.17,68.34,huddle_break_offense
1,2022091200,64,35459.0,Kareem Jackson,2,BEFORE_SNAP,2022-09-13 00:16:03.6,22.0,DEN,right,51.13,28.57,0.71,0.36,0.07,245.41,71.21,NaN
2,2022091200,64,35459.0,Kareem Jackson,3,BEFORE_SNAP,2022-09-13 00:16:03.7,22.0,DEN,right,51.20,28.59,0.69,0.23,0.07,244.45,69.90,NaN
3,2022091200,64,35459.0,Kareem Jackson,4,BEFORE_SNAP,2022-09-13 00:16:03.8,22.0,DEN,right,51.26,28.62,0.67,0.22,0.07,244.45,67.98,NaN
4,2022091200,64,35459.0,Kareem Jackson,5,BEFORE_SNAP,2022-09-13 00:16:03.9,22.0,DEN,right,51.32,28.65,0.65,0.34,0.07,245.74,62.83,NaN

In [7]:
week_1['event'].unique()

array(['huddle_break_offense', nan, 'line_set', 'man_in_motion',
       'ball_snap', 'handoff', 'first_contact', 'tackle', 'pass_forward',
       'pass_arrived', 'pass_outcome_caught', 'touchdown', 'dropped_pass',
       'pass_outcome_incomplete', 'play_action', 'out_of_bounds', 'run',
       'qb_sack', 'pass_tipped', 'fumble', 'fumble_offense_recovered',
       'shift', 'fumble_defense_recovered', 'touchback', 'qb_strip_sack',
       'qb_kneel', 'timeout_away', 'snap_direct',
       'pass_outcome_interception', 'qb_slide', 'play_submit',
       'pass_outcome_touchdown', 'lateral', 'qb_spike', 'pass_shovel',
       'run_pass_option', 'huddle_start_offense'], dtype=object)

In [10]:
week_1_complete = week_1[week_1['event'] == 'pass_outcome_caught']
week_1_incomplete = week_1[week_1['event'] == 'pass_outcome_incomplete']

In [11]:
week_1_complete

,gameId,playId,nflId,displayName,frameId,frameType,time,jerseyNumber,club,playDirection,x,y,s,a,dis,o,dir,event
7478,2022091200,109,35459.0,Kareem Jackson,188,AFTER_SNAP,2022-09-13 00:17:34.3,22.0,DEN,right,58.220000,35.49,5.96,3.24,0.59,119.78,123.40,pass_outcome_caught
7685,2022091200,109,39987.0,Geno Smith,188,AFTER_SNAP,2022-09-13 00:17:34.3,7.0,SEA,right,40.680000,22.31,2.82,0.41,0.28,136.53,137.13,pass_outcome_caught
7892,2022091200,109,40026.0,Marquise Goodwin,188,AFTER_SNAP,2022-09-13 00:17:34.3,11.0,SEA,right,57.520000,1.42,1.67,4.59,0.18,342.47,258.63,pass_outcome_caught
8099,2022091200,109,41310.0,Gabe Jackson,188,AFTER_SNAP,2022-09-13 00:17:34.3,66.0,SEA,right,41.690000,25.54,2.71,1.17,0.27,34.10,66.55,pass_outcome_caught
8306,2022091200,109,42030.0,K'Waun Williams,188,AFTER_SNAP,2022-09-13 00:17:34.3,21.0,DEN,right,53.170000,11.54,4.69,1.44,0.47,27.06,25.87,pass_outcome_caught
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7091335,2022090800,3576,52647.0,Dane Jackson,151,AFTER_SNAP,2022-09-09 03:03:11.3,30.0,BUF,left,44.410000,42.20,4.63,1.41,0.45,186.86,215.56,pass_outcome_caught
7091554,2022090800,3576,53459.0,Gregory Rousseau,151,AFTER_SNAP,2022-09-09 03:03:11.3,50.0,BUF,left,56.130000,23.47,2.70,2.57,0.28,131.06,168.90,pass_outcome_caught
7091773,2022090800,3576,53490.0,Carlos Basham,151,AFTER_SNAP,2022-09-09 03:03:11.3,55.0,BUF,left,51.460000,30.39,0.55,1.28,0.05,192.79,96.08,pass_outcome_caught
7091992,2022090800,3576,54650.0,Christian Benford,151,AFTER_SNAP,2022-09-09 03:03:11.3,47.0,BUF,left,48.440000,10.24,2.19,3.86,0.22,16.21,326.68,pass_outcome_caught
7092211,2022090800,3576,NaN,football,151,AFTER_SNAP,2022-09-09 03:03:11.3,NaN,football,left,49.650002,13.10,4.63,0.98,0.47,NaN,NaN,pass_outcome_caught

In [12]:
week_1_incomplete

,gameId,playId,nflId,displayName,frameId,frameType,time,jerseyNumber,club,playDirection,x,y,s,a,dis,o,dir,event
23030,2022091200,264,35562.0,Al Woods,146,AFTER_SNAP,2022-09-13 00:24:37.8,99.0,SEA,left,98.83,21.12,2.99,1.98,0.31,210.80,219.54,pass_outcome_incomplete
23180,2022091200,264,38605.0,Russell Wilson,146,AFTER_SNAP,2022-09-13 00:24:37.8,3.0,DEN,left,104.91,23.64,0.60,1.22,0.06,224.76,16.56,pass_outcome_incomplete
23330,2022091200,264,41369.0,Cameron Fleming,146,AFTER_SNAP,2022-09-13 00:24:37.8,73.0,DEN,left,98.88,27.10,2.02,1.70,0.21,217.15,229.34,pass_outcome_incomplete
23480,2022091200,264,41464.0,Shelby Harris,146,AFTER_SNAP,2022-09-13 00:24:37.8,93.0,SEA,left,100.73,18.57,2.91,1.40,0.30,219.66,213.49,pass_outcome_incomplete
23630,2022091200,264,42543.0,Quandre Diggs,146,AFTER_SNAP,2022-09-13 00:24:37.8,6.0,SEA,left,82.54,23.95,5.08,1.66,0.51,164.51,183.88,pass_outcome_incomplete
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7103995,2022090800,3696,53678.0,Ben Skowronek,171,AFTER_SNAP,2022-09-09 03:07:37.7,18.0,LA,left,3.01,50.29,3.34,2.43,0.35,207.79,256.68,pass_outcome_incomplete
7104170,2022090800,3696,54488.0,Kaiir Elam,171,AFTER_SNAP,2022-09-09 03:07:37.7,24.0,BUF,left,7.11,49.36,1.43,2.13,0.15,203.91,218.24,pass_outcome_incomplete
7104345,2022090800,3696,54554.0,Terrel Bernard,171,AFTER_SNAP,2022-09-09 03:07:37.7,43.0,BUF,left,8.30,31.61,4.88,1.59,0.50,160.04,191.93,pass_outcome_incomplete
7104520,2022090800,3696,54650.0,Christian Benford,171,AFTER_SNAP,2022-09-09 03:07:37.7,47.0,BUF,left,3.31,2.22,2.43,1.92,0.25,288.06,261.12,pass_outcome_incomplete
7104695,2022090800,3696,NaN,football,171,AFTER_SNAP,2022-09-09 03:07:37.7,NaN,football,left,1.70,0.62,14.42,5.36,1.47,NaN,NaN,pass_outcome_incomplete

In [13]:
players = pd.read_csv("C:/Users/anime/Downloads/players.csv")

In [14]:
players

,nflId,height,weight,birthDate,collegeName,position,displayName
0,25511,6-4,225,1977-08-03,Michigan,QB,Tom Brady
1,29550,6-4,328,1982-01-22,Arkansas,T,Jason Peters
2,29851,6-2,225,1983-12-02,California,QB,Aaron Rodgers
3,30842,6-6,267,1984-05-19,UCLA,TE,Marcedes Lewis
4,33084,6-4,217,1985-05-17,Boston College,QB,Matt Ryan
...,...,...,...,...,...,...,...
1692,55190,6-1,285,NaN,Maryland,DE,Sam Okuayinonu
1693,55200,6-6,266,NaN,Indiana,DT,Ryder Anderson
1694,55239,6-2,300,NaN,Pennsylvania,DT,Prince Emili
1695,55240,6-1,185,NaN,Buffalo,CB,Ja'Marcus Ingram
1696,55241,6-2,280,NaN,Coastal Carolina,DT,C.J. Brewer

In [16]:
df_one = pd.concat([week_1_complete,week_1_incomplete])

In [17]:
df_one

,gameId,playId,nflId,displayName,frameId,frameType,time,jerseyNumber,club,playDirection,x,y,s,a,dis,o,dir,event
7478,2022091200,109,35459.0,Kareem Jackson,188,AFTER_SNAP,2022-09-13 00:17:34.3,22.0,DEN,right,58.22,35.49,5.96,3.24,0.59,119.78,123.40,pass_outcome_caught
7685,2022091200,109,39987.0,Geno Smith,188,AFTER_SNAP,2022-09-13 00:17:34.3,7.0,SEA,right,40.68,22.31,2.82,0.41,0.28,136.53,137.13,pass_outcome_caught
7892,2022091200,109,40026.0,Marquise Goodwin,188,AFTER_SNAP,2022-09-13 00:17:34.3,11.0,SEA,right,57.52,1.42,1.67,4.59,0.18,342.47,258.63,pass_outcome_caught
8099,2022091200,109,41310.0,Gabe Jackson,188,AFTER_SNAP,2022-09-13 00:17:34.3,66.0,SEA,right,41.69,25.54,2.71,1.17,0.27,34.10,66.55,pass_outcome_caught
8306,2022091200,109,42030.0,K'Waun Williams,188,AFTER_SNAP,2022-09-13 00:17:34.3,21.0,DEN,right,53.17,11.54,4.69,1.44,0.47,27.06,25.87,pass_outcome_caught
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7103995,2022090800,3696,53678.0,Ben Skowronek,171,AFTER_SNAP,2022-09-09 03:07:37.7,18.0,LA,left,3.01,50.29,3.34,2.43,0.35,207.79,256.68,pass_outcome_incomplete
7104170,2022090800,3696,54488.0,Kaiir Elam,171,AFTER_SNAP,2022-09-09 03:07:37.7,24.0,BUF,left,7.11,49.36,1.43,2.13,0.15,203.91,218.24,pass_outcome_incomplete
7104345,2022090800,3696,54554.0,Terrel Bernard,171,AFTER_SNAP,2022-09-09 03:07:37.7,43.0,BUF,left,8.30,31.61,4.88,1.59,0.50,160.04,191.93,pass_outcome_incomplete
7104520,2022090800,3696,54650.0,Christian Benford,171,AFTER_SNAP,2022-09-09 03:07:37.7,47.0,BUF,left,3.31,2.22,2.43,1.92,0.25,288.06,261.12,pass_outcome_incomplete
7104695,2022090800,3696,NaN,football,171,AFTER_SNAP,2022-09-09 03:07:37.7,NaN,football,left,1.70,0.62,14.42,5.36,1.47,NaN,NaN,pass_outcome_incomplete

In [19]:
df_one = pd.merge(df_one,players,on='displayName',how='left')

In [20]:
df_one

,gameId,playId,nflId_x,displayName,frameId,frameType,time,jerseyNumber,club,playDirection,...,dis,o,dir,event,nflId_y,height,weight,birthDate,collegeName,position
0,2022091200,109,35459.0,Kareem Jackson,188,AFTER_SNAP,2022-09-13 00:17:34.3,22.0,DEN,right,...,0.59,119.78,123.40,pass_outcome_caught,35459.0,5-10,185.0,1988-04-10,Alabama,SS
1,2022091200,109,39987.0,Geno Smith,188,AFTER_SNAP,2022-09-13 00:17:34.3,7.0,SEA,right,...,0.28,136.53,137.13,pass_outcome_caught,39987.0,6-3,221.0,1990-10-10,West Virginia,QB
2,2022091200,109,40026.0,Marquise Goodwin,188,AFTER_SNAP,2022-09-13 00:17:34.3,11.0,SEA,right,...,0.18,342.47,258.63,pass_outcome_caught,40026.0,5-9,179.0,1990-11-19,Texas,WR
3,2022091200,109,41310.0,Gabe Jackson,188,AFTER_SNAP,2022-09-13 00:17:34.3,66.0,SEA,right,...,0.27,34.10,66.55,pass_outcome_caught,41310.0,6-3,336.0,1991-07-12,Mississippi State,G
4,2022091200,109,42030.0,K'Waun Williams,188,AFTER_SNAP,2022-09-13 00:17:34.3,21.0,DEN,right,...,0.47,27.06,25.87,pass_outcome_caught,42030.0,5-9,183.0,1991-07-12,Pittsburgh,CB
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23746,2022090800,3696,53678.0,Ben Skowronek,171,AFTER_SNAP,2022-09-09 03:07:37.7,18.0,LA,left,...,0.35,207.79,256.68,pass_outcome_incomplete,53678.0,6-3,220.0,NaN,Notre Dame,WR
23747,2022090800,3696,54488.0,Kaiir Elam,171,AFTER_SNAP,2022-09-09 03:07:37.7,24.0,BUF,left,...,0.15,203.91,218.24,pass_outcome_incomplete,54488.0,6-2,196.0,NaN,Florida,CB
23748,2022090800,3696,54554.0,Terrel Bernard,171,AFTER_SNAP,2022-09-09 03:07:37.7,43.0,BUF,left,...,0.50,160.04,191.93,pass_outcome_incomplete,54554.0,6-1,222.0,NaN,Baylor,MLB
23749,2022090800,3696,54650.0,Christian Benford,171,AFTER_SNAP,2022-09-09 03:07:37.7,47.0,BUF,left,...,0.25,288.06,261.12,pass_outcome_incomplete,54650.0,6-1,205.0,NaN,Villanova,CB
23750,2022090800,3696,NaN,football,171,AFTER_SNAP,2022-09-09 03:07:37.7,NaN,football,left,...,1.47,NaN,NaN,pass_outcome_incomplete,NaN,NaN,NaN,NaN,NaN,NaN